body {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}


h3{
  color: red;
}

.red{
  background-color: rgb(156, 38, 38);
  border-radius: 5px;
  margin: 10px;
}

.green{
  background-color: rgb(38, 156, 54);
  border-radius: 5px;
  margin: 10px;
}